
@mixin shadow($x,$y,$i,$color) {
  text-shadow:$x $y $i $color;
}

body{
	background-image: url("../img/bgm.jpg");
	z-index: -100;
	background-size: contain;
}

form
{
	margin: 3rem;
	label
	{
		font-size: 2rem;
	}
}

.navbar
{
	font-size: 1.25rem;
}
#main
{
	height:40vh;
	text-align: center;
	margin-top: 6rem;
	display:flex;
	align-items :center;
}
.jumbotron
{
	margin-bottom: 1rem;
	background-image: url("../img/g6.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 0;
	color:#f2f2f2;
	h1
	{
		font-size: 3rem;
		@include shadow(2px,2px,2px,#808080);
	}

	.lead {
		color:#f2f2f2;
		@include shadow(1px,1px,1px,#808080);
		letter-spacing: 0.3rem;
	}
}
#jumbotron-content
{
	flex-basis : 100%;
	text-align: center;
}

.card-group
{
	margin: auto;
	margin-top: 20px;
	max-width: 100%;
}

#about
{
	text-align: center;
	margin: 5rem 3rem;
}


@media (min-width: 768px)
{

body{
	background-image: url("../img/bg.jpg");}
.jumbotron
{
	h1
	{
		font-size: 4.5rem;
	}
	.lead
	{
		font-size: 2rem;
	}
}
}