

@mixin shadow($x,$y,$i,$color) {
  text-shadow:$x $y $i $color;
}

body{
	background-image: url("../img/bgm.jpg");
	z-index: -100;
	background-size: contain;
}

form
{
	
	label
	{
		font-size: 2rem;
	}
}




